{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Books shop</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static "style/style.css" %}">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

</head>
<body>
<div class="page-header">
    <h1><a href="/">Book shop</a></h1>
</div>

<div class="content container">
    <div class="row">
        <div class="col-md-8">
            <a href="{% url "admin:index" %}">Admin page</a>
            {% block content %}
            {% endblock %}
        </div>
    </div>
</div>
</body>
<footer>
    <div class="footer bg-primary">&#169; 2018-{% now "Y" %} </div>
</footer>
</html>