{% extends './base.html' %}
{% block content %}
    <h2><a href="{% url "book_detail" pk=book.id %}">{{ book.title }}</a></h2>
    {% if user.is_authenticated %}
        <a href="{% url "book_edit" pk=book.id %}">
            <button type="button" class="btn btn-primary">Edit</button>
        </a>
        <a href="{% url "book_delete" pk=book.id %}">
            <button type="button" class="btn btn-danger">Delete</button>
        </a>
    {% endif %}
    <p class="bg-info">
        <strong>Price</strong>: {{ book.price }}
    </p>
    <p class="bg-info">
        <strong>ISBN</strong>: {{ book.ISBN }}
    </p>
    {% for author in  book.authors.all %}
        Author:
        {{ author.first_name }}
        {{ author.last_name }}
    {% endfor %}
{% endblock %}
